<div class="h-full bg-black flex items-center flex-col py-32 px-48 space-y-32">
  <div class="items-center flex flex-col space-y-4 w-full">
    <h6 class="text-true-gray text-md">- PASSO 1 -</h6>
    <h1 class="text-white text-3xl font-bold">Cronograma da semana</h1>
    <%= form_tag '/timeline', class: "w-full" do %>
      <%= text_area_tag :html_input, nil, id: 'html-input',
        placeholder: 'HTML da <table> do seu horário UTFPR',
        class: "bg-black text-white border-true-yellow border rounded-2xl w-full p-4 h-32 resize-none"
      %>
      <%= submit_tag 'submit' %>
    <% end %>
  </div>

  <div class="items-center flex flex-col space-y-4 w-full">
    <h6 class="text-true-gray text-md">- PASSO 2 -</h6>
    <h1 class="text-white text-3xl font-bold">Valide o cronograma de aulas</h1>
    <div class="table-container" id="html-output"></div>
  </div>

  <div class="items-center flex flex-col space-y-4 w-full">
    <h6 class="text-true-gray text-md">- PASSO 3 -</h6>
    <h1 class="text-white text-3xl font-bold">Adicione os planos de aula corretamente nomeados</h1>
    <%= form_tag '/timeline', multipart: true, class:"items-center flex flex-row space-y-4 space-x-4" do %>
      <label class="bg-black px-6 py-4 text-white border-true-yellow border rounded-full hover:bg-true-yellow transition duration-150 hover:ease-in ease-out hover:text-black cursor-pointer" for="files">Escolher para arquivos</label>
      <%= file_field_tag 'files', multiple: true, accept: '.csv', class: 'hidden', onchange: "document.querySelector('#file-names').innerHTML = Array.from(this.files).map(f => f.name).join(', ')" %>
      <div id="file-names", class="text-true-gray text-md max-w-sm"></div>
    <% end %>
  </div>

  <div class="items-center flex flex-col space-y-4 w-full">
    <h6 class="text-true-gray text-md">- PASSO 4 -</h6>
    <%= link_to "Processar planos de aula", download_path, class: "bg-true-yellow justify-center align-middle items-center px-6 py-4 rounded-full hover:scale-110 transition duration-150"%>
  </div>
</div>
